/* *************** @font-face *************** */
@font-face {
  /* Dosis */
  font-family: "Dosis";
  src:
    url("./fonts/Dosis-VariableFont_wght.woff2") format("woff2"),
    url("./fonts/Dosis-VariableFont_wght.ttf") format("ttf");
  font-weight: 200-800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Libre Franklin */
  font-family: "Libre Franklin";
  src:
    url("./fonts/LibreFranklin-VariableFont_wght.woff2") format("woff2"),
    url("./fonts/LibreFranklin-VariableFont_wght.ttf") format("ttf");
  font-weight: 100-900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* Libre Franklin italics*/
  font-family: "Libre Franklin";
  src:
    url("./fonts/LibreFranklin-Italic-VariableFont_wght.woff2") format("woff2"),
    url("./fonts/LibreFranklin-Italic-VariableFont_wght.ttf") format("ttf");
  font-weight: 100-900;
  font-style: italic;
  font-display: swap;
}

/* *************** global variables *************** */
:root {
  --bg: #f9f4f0;
  --text: #2a2a2a;
  --accent: #d8c8b8;
  --accent-2: #d59c76;
  --button: #c8b8a8;
  --button-border: #a89888;
  --button-hover: #e0d0c0;
  --button-border-hover: #d8c8b8;
  --button-focus: #708ea4;
  --button-focus-2: #cfc2b0;
  --button-focus-3: #1c294f;
  --talk-back: #f9f4f0;

  --font-header: "Dosis", "Arial", sans-serif;
  --font-text: "Libre Franklin", "Helvetica", sans-serif;

  /* --font-header: serif;
  --font-text: serif; */
}

/*  * {
     border: 1px solid black; 
}  */
body {
  background-color: var(--bg);
  /* background-color: blue; */
  color: var(--text);
  text-align: center;
  align-items: center;
  font-family: var(--font-text);
}
h1,
h2,
h3 {
  font-family: var(--font-header);
}
h1 {
  font-size: 5rem;
  margin: 0.8rem;
}
p {
  font-family: var(--font-text);
  margin: 0.24rem;
}
#game {
  width: 100vw;
  height: 100vh;
}
em,
i {
  font-family: var(--font-text);
  font-style: italic;
}

#full-game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centered-legend {
  text-align: center;
  width: 100%;
  margin-bottom: 0.4rem;
}
legend {
  align-items: center;
  text-align: center;
}
#button-container {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  margin: 0.4rem;
}
.bet-options {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: red; */
}
#talk-back-display-container {
  min-height: 2vh;
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}
#talk-back-display {
  background-color: #e7f294;
  background-color: var(--talk-back);
  min-width: 30vw;
  border-radius: 1rem;
  padding: 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 1.2rem;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
}
h2 {
  font-weight: 400;
}
#game-container {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  flex-wrap: wrap;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  /* background-color: blue; */
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-color: var(--button-border);
  font-size: 2rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--button-hover);
  border-color: var(--button-border-hover);
  /* background-color: blue; */
}
/* only show buttons when navigating with keyboard */
button:focus:not(:focus-visible) {
  outline: none;
}
button:focus {
  outline: 0.3rem solid var(--button-focus-3);
  /* outline: 2px solid lime; */
  outline-offset: 0.1rem; /* outline so it is less ugly */
}

.invisible-button,
.inactive-button {
  cursor: not-allowed;
}
.invisible-button {
  background-color: white;
  background-color: transparent;
  border: none;
}
.play-button {
  padding: 1vw 1vh;
  height: 6rem;
  width: 8rem;
}
/* .not-clickable:hover {
  background-color: transparent !important;
} */
.inactive-button,
.inactive-button:hover {
  background-color: gray;
  background-color: hsl(0, 0%, 80%);
  border-color: hsl(0, 0%, 80%);
}

.invisible-button:hover,
.invisible-button:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  border: none !important;
  outline: none !important;
}
.inactive-button:hover,
.inactive-button:focus {
  background-color: hsl(0, 0%, 80%) !important;
  border-color: hsl(0, 0%, 80%) !important;
  border: none !important;
  outline: none !important;
}

.number-system-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.6rem;
  padding: 1.6rem;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  #game-container {
    flex-direction: row;
    gap: 0.1rem;
    font-size: 2rem;
  }

  .play-button {
    font-size: 1.4rem;
    height: 4rem;
    width: 6rem;
  }
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }
  #game-container {
    font-size: 1rem;
    flex-direction: column;
  }
  button {
    padding: 0.77rem 1.2rem 0.77rem 1.2rem;
    border-radius: 0.77rem;
    font-size: 1.2rem;
  }
  .play-button {
    padding: 2rem 7rem;
  }
}
@media screen and (max-width: 400px) {
  .play-button {
    padding: 1rem 5rem;
  }
}
